
<div class="layout" [class.layout-login]="isLoginPage()">

  @if (!isLoginPage()) {
    <!-- Overlay sur mobile -->
    <div class="sidebar-overlay" 
         *ngIf="layoutService.sidebarOpen()" 
         (click)="layoutService.closeSidebar()">
    </div>

    <app-barre-laterale></app-barre-laterale>
  }

  <div class="contenu-principal" [class.no-sidebar]="isLoginPage()">

    @if (!isLoginPage()) {
      <app-barre-superieure></app-barre-superieure>
    }

    <div class="page">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
