<div class="nettoyages">

 <div class="header-page">

  <h2>Liste des Nettoyages 🧹</h2>

  <div class="actions-header">

    <input
      type="text"
      class="recherche"
      placeholder="🔍 Rechercher..."
      [(ngModel)]="recherche">

    <button class="btn-ajouter" (click)="ajouterNettoyage()">
      Ajouter un nettoyage
    </button>

  </div>

</div>


  <!-- Formulaire -->

  <div class="formulaire" *ngIf="afficherFormulaire">

    <select [(ngModel)]="busChoisi">

      <option value="">
        Choisir un bus
      </option>

      <option *ngFor="let bus of bus" [value]="bus">
        {{ bus }}
      </option>

    </select>


    <select [(ngModel)]="type">

      <option value="">
        Type de nettoyage
      </option>

      <option value="Tous les 2 jours">
        Tous les 2 jours
      </option>

      <option value="Chaque semaine">
        Chaque semaine
      </option>

      <option value="Chaque mois">
        Chaque mois
      </option>

    </select>


    <input
      type="date"
      [(ngModel)]="date">


    <select [(ngModel)]="statut">

      <option value="">
        Statut
      </option>

      <option value="En attente">
        En attente
      </option>

      <option value="En cours">
        En cours
      </option>

      <option value="Terminé">
        Terminé
      </option>

    </select>


    <button class="btn-formulaire" (click)="enregistrerNettoyage()">
      {{ modeModification ? 'Modifier' : 'Ajouter' }}
    </button>

  </div>



  <!-- Tableau -->

  <table>

    <thead>

      <tr>
        <th>ID</th>
        <th>Bus</th>
        <th>Type</th>
        <th>Date</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>

    </thead>


    <tbody>

      <tr *ngFor="let n of nettoyagesFiltres">

        <td>{{ n.id }}</td>
        <td>{{ n.bus }}</td>
        <td>{{ n.type }}</td>
        <td>{{ n.date }}</td>
        <td>{{ n.statut }}</td>

        <td>

          <button
            class="btn-modifier"
            type="button"
            (click)="modifierNettoyage(n)">
            Modifier
          </button>

          <button
            class="btn-supprimer"
            type="button"
            (click)="supprimerNettoyage(n.id)">
            Supprimer
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>
