<ion-content [fullscreen]="true">

  <div class="page">

    <!-- Header -->

    <div class="header-card">

      <h2>Terminer le nettoyage</h2>

      <p>Vérifiez les informations avant l'envoi au superviseur.</p>

    </div>

    <!-- Informations -->

    <div class="info-card">

      <div class="info-row">

        <div class="left">

          <div class="icon-circle">
            <ion-icon name="bus-outline"></ion-icon>
          </div>

          <span>Bus</span>

        </div>

        <strong>{{ bus }}</strong>

      </div>

      <div class="info-row">

        <div class="left">

          <div class="icon-circle">
            <ion-icon name="sparkles-outline"></ion-icon>
          </div>

          <span>Type de nettoyage</span>

        </div>

        <strong>{{ type }}</strong>

      </div>

      <div class="info-row">

        <div class="left">

          <div class="icon-circle">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>

          <span>Date</span>

        </div>

        <strong>{{ date }}</strong>

      </div>

      <div class="info-row">

        <div class="left">

          <div class="icon-circle">
            <ion-icon name="time-outline"></ion-icon>
          </div>

          <span>Heure début</span>

        </div>

        <strong>{{ heureDebut }}</strong>

      </div>

      <div class="info-row">

        <div class="left">

          <div class="icon-circle">
            <ion-icon name="time-outline"></ion-icon>
          </div>

          <span>Heure fin</span>

        </div>

        <strong>{{ heureFin }}</strong>

      </div>

      <div class="info-row last">

        <div class="left">

          <div class="icon-circle">
            <ion-icon name="timer-outline"></ion-icon>
          </div>

          <span>Durée</span>

        </div>

        <strong>{{ duree }}</strong>

      </div>

    </div>

    <!-- Remarque -->

    <div class="remark-card">

      <div class="remark-header">

        <div class="remark-icon">

          <ion-icon name="create-outline"></ion-icon>

        </div>

        <div>

          <h3>Remarque (optionnelle)</h3>

          <p>
            Écrire un commentaire concernant le nettoyage.
          </p>

        </div>

      </div>

      <ion-textarea

        class="remark-textarea"

        autoGrow="true"

        maxlength="200"

        counter="true"

        fill="outline"

        placeholder="Écrire un commentaire (facultatif)..."

        [(ngModel)]="remarque">

      </ion-textarea>

    </div>

    <!-- Bouton -->

    <ion-button

      expand="block"

      class="send-btn"

      (click)="envoyer()">

      <ion-icon
        slot="start"
        name="paper-plane-outline">
      </ion-icon>

      Envoyer au superviseur

    </ion-button>

  </div>

</ion-content>
