<div class="sidebar">

  <div class="logo">

    <i class="fa-solid fa-bus"></i>

    <div>
      <h2>ALSA</h2>
      <span>Clean Fleet</span>
    </div>

  </div>


  <nav>

    <a routerLink="/admin/tableau-de-bord">
      <i class="fa-solid fa-house"></i>
      Tableau de bord
    </a>


    <a routerLink="/admin/bus">
      <i class="fa-solid fa-bus"></i>
      Bus
    </a>


    <a routerLink="/admin/utilisateurs">
      <i class="fa-solid fa-users"></i>
      Utilisateurs
    </a>


    <a routerLink="/admin/nettoyages">
      <i class="fa-solid fa-broom"></i>
      Nettoyages
    </a>


    <a routerLink="/admin/rapports">
      <i class="fa-solid fa-chart-line"></i>
      Rapports
    </a>


  </nav>


  <div class="sidebar-footer">

    <i class="fa-solid fa-gear"></i>
    Paramètres

  </div>


</div>
