<div class="sidebar">

  <div class="logo">
    <h2>🚌 Gestion Bus</h2>
    <p>Administration</p>
  </div>

  <nav>

    <a routerLink="/admin/tableau-de-bord" routerLinkActive="active">
      📊 Tableau de bord
    </a>

    <a routerLink="/admin/bus" routerLinkActive="active">
      🚌 Bus
    </a>

    <a routerLink="/admin/utilisateurs" routerLinkActive="active">
      👤 Utilisateurs
    </a>

    <a routerLink="/admin/nettoyages" routerLinkActive="active">
      🧹 Nettoyages
    </a>

    <a routerLink="/admin/rapports" routerLinkActive="active">
      📈 Rapports
    </a>

  </nav>

  <div class="deconnexion">
    <button>🚪 Déconnexion</button>
  </div>

</div>
