<ion-content [fullscreen]="true">

  <div class="page">

    <!-- Retour -->

    <div class="back-button" routerLink="/superviseur-dashboard">

      <ion-icon name="arrow-back-outline"></ion-icon>

      <span>Retour</span>

    </div>

    <!-- Header -->

    <div class="header-card">

      <div class="header-text">

        <h1>Notifications</h1>

        <p>
          Nettoyages soumis en attente de validation.
        </p>

      </div>

      <div class="header-icon">

        <ion-icon name="notifications-outline"></ion-icon>

      </div>

    </div>

    <!-- Action -->

    <div class="actions">

      <ion-button
        fill="solid"
        class="mark-btn"
        (click)="toutMarquerCommeLu()">

        <ion-icon
          slot="start"
          name="checkmark-done-outline">
        </ion-icon>

        Tout marquer comme lu

      </ion-button>

    </div>

    <!-- Notifications -->

    <div
      class="notification-card"
      *ngFor="let notification of notifications"
      (click)="ouvrirNotification(notification)"
      [class.read]="notification.lu">

      <div
        class="notification-icon"
        [ngClass]="notification.type">

        <ion-icon
          [name]="notification.icon">
        </ion-icon>

      </div>

      <div class="notification-content">

        <h3>

          {{ notification.titre }}

        </h3>

        <p>

          {{ notification.message }}

        </p>

        <span>

          {{ notification.heure }}

        </span>

      </div>

      <div
        class="dot"
        *ngIf="!notification.lu">
      </div>

    </div>

  </div>

</ion-content>
