<div class="bus">

 <div class="header-page">

  <h2>Liste des Bus 🚌</h2>

  <div class="actions-header">

    <input
      type="text"
      class="recherche"
      placeholder="🔍 Rechercher..."
      [(ngModel)]="recherche">

    <button class="btn-ajouter" (click)="ajouterBus()">
      + Ajouter un bus
    </button>

  </div>

</div>


  <!-- Formulaire -->

  <div class="formulaire" *ngIf="afficherFormulaire">


    <input
      type="text"
      placeholder="Numéro du parc"
      [(ngModel)]="numero">


    <input
      type="text"
      placeholder="Immatriculation"
      [(ngModel)]="immatriculation">


    <select [(ngModel)]="assignation">

      <option value="">
      assignation
      </option>

      <option value="KARID">
       KARID
      </option>

      <option value="ARTIS">
        ARTIS
      </option>

    </select>


    <button class="btn-formulaire" (click)="enregistrerBus()">
      {{ modeModification ? 'Modifier' : 'Ajouter' }}
    </button>


  </div>



  <!-- Tableau -->

  <table>

    <thead>

      <tr>
        <th>ID</th>
        <th>Numéro du parc</th>
        <th>Immatriculation</th>
        <th>Assignation</th>
        <th>Actions</th>
      </tr>

    </thead>


    <tbody>

      <tr *ngFor="let bus of busFiltres">

        <td>{{ bus.id }}</td>

        <td>{{ bus.numero }}</td>

        <td>{{ bus.immatriculation }}</td>

        <td>{{ bus.assignation }}</td>

        <td>

          <button class="btn-modifier" (click)="modifierBus(bus)">
            Modifier
          </button>

          <button class="btn-supprimer" (click)="supprimerBus(bus.id)">
            Supprimer
          </button>

        </td>

      </tr>

    </tbody>

  </table>


</div>
