<ion-content [fullscreen]="true">

  <div class="login-page">

    <div class="login-card">

      <!-- Logo -->
      <div class="login-header">

        <div class="login-logo">
          <img src="assets/images/alsa-logo.png" alt="ALSA Logo">
        </div>

        <h1>ALSA Clean Fleet</h1>

        <p>
          Connectez-vous à votre espace
        </p>

      </div>

      <!-- Form -->
      <form (ngSubmit)="seConnecter()">

        <!-- Login -->
        <ion-item class="custom-item" lines="none">

          <ion-input
            label="Login"
            labelPlacement="floating"
            [(ngModel)]="login"
            name="login"
            clearInput="true">
          </ion-input>

        </ion-item>

        <!-- Password -->
        <ion-item class="custom-item" lines="none">

          <ion-input
            label="Mot de passe"
            labelPlacement="floating"
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="password"
            name="password">
          </ion-input>

          <ion-button
            fill="clear"
            slot="end"
            type="button"
            (click)="showPassword = !showPassword">

            <ion-icon
              [name]="showPassword ? 'eye-off-outline' : 'eye-outline'">
            </ion-icon>

          </ion-button>

        </ion-item>

        <!-- Button -->
        <ion-button
          expand="block"
          class="login-btn"
          [disabled]="loading"
          type="submit">

          {{ loading ? 'Connexion…' : 'Se connecter' }}

        </ion-button>

      </form>

    </div>

  </div>

</ion-content>
